CompileFlags:
  Add:
    - '-ferror-limit=0'
    - '-Wno-implicit-int'
    - -Wno-unused-variable
    - -Wno-unused-parameter

  CompilationDatabase: build/Debug
Diagnostics:
  Suppress:
    - unused-includes